.auth-page{

display:flex;

justify-content:center;

align-items:center;

min-height:75vh;

}

.auth-form{

width:420px;

display:flex;

flex-direction:column;

gap:18px;

}

.btn-primary,
.btn-buy,
.btn-sell,
.btn-danger{

padding:14px;

border-radius:12px;

font-weight:700;

color:white;

}

.btn-primary{

background:linear-gradient(45deg,var(--primary),var(--secondary));

}

.btn-buy{

background:linear-gradient(45deg,#00b36b,var(--success));

}

.btn-sell{

background:linear-gradient(45deg,#1565c0,var(--secondary));

}

.btn-danger{

background:linear-gradient(45deg,#cc0033,var(--danger));

}

.btn-primary:hover,
.btn-buy:hover,
.btn-sell:hover,
.btn-danger:hover{

transform:translateY(-2px);

}