:root{

--bg:#06080d;
--bg2:#10151f;

--card:rgba(18,25,38,.72);

--border:rgba(0,245,255,.15);

--primary:#00F5FF;

--secondary:#1E90FF;

--accent:#8A2BE2;

--success:#00FF95;

--danger:#FF4D6D;

--warning:#FFC857;

--text:#F5F7FA;

--muted:#8C98A8;

--radius:18px;

--shadow:0 0 20px rgba(0,245,255,.15);

--transition:.30s;

--sidebar:270px;

}