<header class="header">

   <button
    class="menu-toggle"
    id="menu-toggle"
>
    ☰
</button>

<div class="brand">

    <div class="logo">
        <img
            src="{{ url_for('static', filename='images/pqi logo.png') }}"
            alt="Plimsol Quantum Intelligence"
        >
    </div>

    <div>

        <h1>
            Plimsol Quantum Intelligence
        </h1>

        <small>
            ...A Progressive Profit Harvester
        </small>

    </div>

</div>

<div class="header-right">

    <div class="market-status">

        <span class="dot"></span>

        LIVE

    </div>

    <div id="clock"></div>

</div>

</header>